body {
}

.main {
    font-size: 8px;
}

/*.navbar {*/
/*    min-height: 75rem;*/
/*    padding-top: 4.5rem;*/
/*}*/

.Kumbal {
    z-index: 10;
}

.room-name {
    font-weight: bold;
}

@media print {
    .noprint {
        visibility: hidden;
    }
}

